.flxgrow{
    flex-grow: 1;
}
.txtleft{
    text-align: left;
}
.txtright{
    text-align: right;
}
.txtcenter{
    text-align: center;
}
.anostyle{
    text-decoration: none;
    color: inherit;
}
.bold{
    font-weight: bold;
}
.underlined{
    text-decoration: underline;
}
.pl-4{
    padding-left: 4px;
}
.pl-8{
    padding-left: 8px;
}
.pl-12{
    padding-left: 12px;
}
.pl-14{
    padding-left: 14px;
}