@media only screen and (max-width: 1000px) {
    #title{
        font-size: 20px;
    }
    #mobilemenu{
        flex-direction: column;
        padding: 20px;
        background-color: var(--header-color);
    }
    #labs{
        margin: 20px;
    }
    #eventi{
        margin-bottom: 40px;
    }
    #avventure_matematiche_nel_tempo_img_mob, #chessmath_img_mob, #acqua_and_co_img_mob, #estrazione_dna_img_mob{
        max-width: 60%;
        height: auto;
        float: left;
    }
    #che_logica_parli_img_mob, #atlantis_code_img_mob, #gioca_con_strategia_img_mob{
        max-width: 60%;
        height: auto;
        float: right;
    }
    .container_logo{
        margin-top: 20px;
    }
    .onlyfull{
        display: none !important;
    }
    .onlymob{
        display: inherit;
    }
    .chi_siamo_descr{
        font-size: 16px;
    }
    .chi_siamo_descr_nome{
        font-size: 20px;
    }
    .header_collab_1{
        margin-bottom: 20px;
    }
    .image_coll{
        width: 20vw;
    }
    .mobilemenuitem{
        padding: 5px;
    }
    .mobilemenuitem>a{
        font-family: 'Mulish';
    }
    .articles{
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .article>.text{
        padding: 20px;
        font-size: 16px;
    }
    .article>div:first-child{
        max-width: unset;
    }
    .header_collab{
        margin: 40px 0px 20px 0px;
    }
    .footer{
        padding: 20px;
        padding-bottom: 60px;
    }
    .footer>div{
        padding-left: 8%;
        font-size: 12px;
    }
}