@media only screen and (max-width: 1000px) {
    #title{
        font-size: 20px;
    }
    #mobilemenu{
        flex-direction: column;
        padding: 20px;
        background-color: var(--header-color);
    }
    #labs{
        margin: 20px;
    }
    .onlyfull{
        display: none;
    }
    .onlymob{
        display: inherit;
    }
    .image_coll{
        width: 20vw;
    }
    .mobilemenuitem{
        padding: 5px;
    }
    .mobilemenuitem>a{
        font-family: 'Mulish';
    }
    .articles{
        margin-top: 0px;
    }
    .article>.text{
        padding: 20px;
    }
    .container_collab{
        gap: 5vw;
    }
}